<nav class="navbar nav-app" role="navigation">
    <span class="col-lg-6">
        <span id="pnl-buttons" style="display:none;">
            <button class="btn" id="btn-clear-select"><i class="fa fa-eraser"></i> Clear Selection</button>
            <button class="btn btn-info" id="btn-send"><i class="fa fa-envelope"></i> Send Mail</button>
        </span>
    </span>
    <form class="form-inline col-lg-4">

    </form>
    @Html.Partial("_UserInfo")
</nav>